

:root {
    --colorsPrimary: #0ACF83;
    --colorsDefault: #000000;
    --colorsGreyDark_1: #7F7F7F;
    --colorsGrey: #BABABA;
    --colorsGreyLight_1: #F6F6F6;
    --colorsGreyLight_2: #F3F3F3;
    --colorsWhite: #FFFFFF;
    --colorsAccent: #FFC120;
}

* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}
